*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
.top{
    display: flex;
    align-items: stretch;

}

.top >div{

    text-align: center;
}

.logo{

    width: 20%;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
}

.imga1{
    width: 30%;
    height: 80%;
    margin: auto;
}

.imga2{
    
    width: 80%;
    height: 80%;
    margin: auto;
}

.titulo{
    margin-top: 0.4%;
    width: 60%;
    flex-grow: 4;
}
.titulo >h3{
    font-size: 1.9vw;
}
.tituloNombre{
    font-size: 2.9vw;
    color: rgb(1, 36, 59);
    background-image: url(Imagenes/titulo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

.cuerpo{
    margin: 0 0.5% 0 0.5%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(Imagenes/fondo-paisaje.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.svg{
    position:relative; top:0vw; left:-5vw;

}

.instrucciones{
    
    color:rgb(4, 51, 153);
    padding:0.5% 0 0.5% 0;
    
    text-align: center;
    font-family: cursive;
    font-size: 1.9vw;
}

.figuras{
    display: flex;
    justify-content: center;
}

.boton{
    background-image: url(Imagenes/boton1.png);
    background-size: 11vw 8vw;
    background-repeat: no-repeat;
    background-position: center;

    padding: 0 1% 0 0;
    height: 10vw;
    width: 16vw;
    margin: auto;
    border-color:rgba(95, 37, 37, 0);
    color: rgb(87, 28, 184);
    font-family: cursive;
    background-color: rgba(220, 130, 13, 0);
    /*padding: 17px 34px;*/
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: -0.5px;
    font-size: 2.2vw;
    cursor: pointer;

    position:absolute; top:15vw; left:45vw;
}
.boton-div{
    padding: 0 1% 0 0;
    height: 10vw;
    width: 20vw;
    margin: auto;
}


.boton:hover{
    background-image: url(Imagenes/boton2.png);
    background-size: 12vw 9vw;
}


.conteo{
    position: absolute;
    display: flex;
    color: rgb(4, 51, 153);
    font-size: 4vw;
    font-family: cursive;
    justify-content: center;
    
}

.conteobuenas{
    left: 3vw;
    top: 33vw;
    z-index: 0;

}
.felicitaciones{
    
    left: 30vw;
    top: 25vw;
    z-index: 1;

}