*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(24, 25, 27);
    color: white;
}

.cuerpo{
    display: flex;
    flex-direction: column;  
    margin: 30px 10px 0px 10px;
}

.tittle{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.centro{
    display: flex;
    justify-content: flex-end;
    border-color: white;
    background-color: rgba(255, 254, 255, 0.144);
    height: 400px;
    width: 95%;
    margin: auto;
}

.formulario{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.boton{
    margin: 20px 50px 0 10px;
    height: 40px;
}
.figura{
    margin: auto;
}