.cuerpo{
    display: flex;
    flex-direction: column;
}

.tittle{
    font-family: Arial, Helvetica;
    text-align: center;
    font-size: 1.2vw;
    color: rgb(46, 43, 226);
}

.centro{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.boton{
    font-size: 2vw;
    margin: 0 5vw 5vw 0;
    left: 15vw;
    top: 30vw;
    height: 5vw;
    width: 10vw;
}

.figure{
    display: block;
}



    /* Cubre toda la pantalla del dispositivo */
    .mensaje {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
          
          /* Con esto ajustamos la posición del texto */
        display: flex;
        align-items: center;
        justify-content: center;
          
          /* Un color de fondo */
          
        background-color: white;
          /* Debemos superponerlo */
        z-index: 1000;
    }
        
        /* El texto que vamos a mostrar */
    .mensaje::before {
        content: "Voltee su dispositivo";
        font-size: 2rem;
    }
    
    @media screen and (orientation: portrait ) {
        .app {
          display: none;
        }
    }

