
.cuerpo{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background-image: url(Imagenes/fondo-paisaje.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.svg{
    position:absolute; 
    top:16vw;
}

.figuras{
    display: flex;
    flex-direction: column;
}
.botones{
    display: flex;

}
.boton{
    border-color:rgba(95, 37, 37, 0);
    color: rgb(87, 28, 184);
    font-family: cursive;
    height: 9vw;
    width: 20vw;

    background-color: rgba(0, 0, 0, 0.274);
    /*padding: 17px 34px;*/


    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: -0.1vw;

    font-size: 2.2vw ;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left;
}

.trapecio{
    background-image: url(Imagenes/trapecio.png);
    background-size: 7.5vw 5vw;
    background-repeat: no-repeat;
    background-position: left;
}

.trapecio:hover{
    background-image: url(Imagenes/trapecio.png);
    background-size: 9vw 6vw;
}

.rombo{
    background-image: url(Imagenes/rombo.png);
    background-size: 7.5vw 5vw;
    background-repeat: no-repeat;
    background-position: left;
}

.rombo:hover{
    background-image: url(Imagenes/rombo.png);
    background-size: 9vw 6vw;
}

.rectangulo{
    background-image: url(Imagenes/rectangulo.png);
    background-size: 7.5vw 5vw;
    background-repeat: no-repeat;
    background-position: left;
}

.rectangulo:hover{
    background-image: url(Imagenes/rectangulo.png);
    background-size: 9vw 6vw;
}

.tria{
    background-image: url(Imagenes/triangulo.png);
    background-size: 7.5vw 5vw;
    background-repeat: no-repeat;
    background-position: left;
}

.tria:hover{
    background-image: url(Imagenes/triangulo.png);
    background-size: 9vw 6vw;
}

.cuadrado{
    background-image: url(Imagenes/cuadrado.png);
    background-size: 7.5vw 5vw;
    background-repeat: no-repeat;
    background-position: left;
}

.cuadrado:hover{
    background-image: url(Imagenes/cuadrado.png);
    background-size: 9vw 6vw;
}

.volver{
    background-image: url(Imagenes/flecha.png);
    background-size: 7.5vw 5vw;
    background-repeat: no-repeat;
    background-position: left;
    position:absolute; top:35vw; left:75vw;
}
.volver:hover{
    background-image: url(Imagenes/flecha.png);
    background-size: 9vw 6vw;
}

.ord{
    display: flex;
    justify-content: center;
}

.name{
    color: rgba(5, 49, 160, 0.953);
    text-shadow: 0.2vw 0.2vw 0.5vw rgb(0, 123, 255);
    font-size: 5vw;
    position:absolute; top:30vw; left:10vw;
}

.name2{
    transform: translate(20vw 20vw);
    z-index: 1;
}




    /* Cubre toda la pantalla del dispositivo */
    .mensaje {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
          
          /* Con esto ajustamos la posición del texto */
        display: flex;
        align-items: center;
        justify-content: center;
          
          /* Un color de fondo */
          
        background-color: white;
          /* Debemos superponerlo */
        z-index: 1000;
    }
        
        /* El texto que vamos a mostrar */
    .mensaje::before {
        content: "Voltee su dispositivo";
        font-size: 2rem;
    }
    
    @media screen and (orientation: portrait ) {
        .app {
          display: none;
        }
    }